In [46]:
import pandas_datareader.data as web

In [47]:
import pandas as pd
import numpy as np

In [48]:
#Dictionary comprehension
all_data = {
    ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']
}

In [49]:
#Parse dictionary for GOOD
all_data['GOOG']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-02-16,698.000000,685.049988,692.979980,691.000000,2520000,691.000000
2016-02-17,709.750000,691.380005,698.090027,708.400024,2492600,708.400024
2016-02-18,712.349976,696.030029,710.000000,697.349976,1883200,697.349976
2016-02-19,703.080994,694.049988,695.030029,700.909973,1589300,700.909973
2016-02-22,713.239990,702.510010,707.450012,706.460022,1949800,706.460022
...,...,...,...,...,...,...
2021-02-08,2123.547119,2072.000000,2105.909912,2092.909912,1241900,2092.909912
2021-02-09,2105.129883,2078.540039,2078.540039,2083.510010,889900,2083.510010
2021-02-10,2108.370117,2063.090088,2094.209961,2095.379883,1135500,2095.379883
2021-02-11,2102.030029,2077.320068,2099.510010,2095.889893,945200,2095.889893
2021-02-12,2108.820068,2083.129883,2090.250000,2104.110107,855700,2104.110107

In [50]:
#Parse dictionary for all "Adj Close" for labels
price = pd.DataFrame({ ticker: data['Adj Close'] for (ticker, data) in all_data.items() })
price

                  AAPL         IBM        MSFT         GOOG
Date
2016-02-16   22.471428   98.425911   46.955994   691.000000
2016-02-17   22.815565  101.120300   48.178375   708.400024
2016-02-18   22.383070  106.212402   47.966984   697.349976
2016-02-19   22.331917  106.717606   47.626919   700.909973
2016-02-22   22.527231  107.270927   48.389759   706.460022
...                ...         ...         ...          ...
2021-02-08  136.910004  121.980003  242.470001  2092.909912
2021-02-09  136.009995  122.099998  243.770004  2083.510010
2021-02-10  135.389999  122.239998  242.820007  2095.379883
2021-02-11  135.130005  120.910004  244.490005  2095.889893
2021-02-12  135.369995  120.800003  244.990005  2104.110107

[1259 rows x 4 columns]

In [51]:
#Parse dictionary for all "Volume" for labels
volume = pd.DataFrame({ ticker: data['Volume'] for (ticker, data) in all_data.items() })
volume

                   AAPL        IBM        MSFT     GOOG
Date
2016-02-16  196231600.0  4061400.0  37291200.0  2520000
2016-02-17  179452800.0  4821000.0  40789000.0  2492600
2016-02-18  156084000.0  9951600.0  27176000.0  1883200
2016-02-19  141496800.0  5125300.0  33559100.0  1589300
2016-02-22  137123200.0  4457400.0  25008300.0  1949800
...                 ...        ...         ...      ...
2021-02-08   71297200.0  5888000.0  22211900.0  1241900
2021-02-09   76774200.0  4717000.0  23565000.0   889900
2021-02-10   73046600.0  4866800.0  22186700.0  1135500
2021-02-11   64154400.0  5380600.0  15742200.0   945200
2021-02-12   60029300.0  3868900.0  16552000.0   855700

[1259 rows x 4 columns]

In [52]:
returns = price.pct_change()
returns

                AAPL       IBM      MSFT      GOOG
Date
2016-02-16       NaN       NaN       NaN       NaN
2016-02-17  0.015314  0.027375  0.026032  0.025181
2016-02-18 -0.018956  0.050357 -0.004388 -0.015599
2016-02-19 -0.002285  0.004757 -0.007090  0.005105
2016-02-22  0.008746  0.005185  0.016017  0.007918
...              ...       ...       ...       ...
2021-02-08  0.001097  0.014944  0.001115 -0.002426
2021-02-09 -0.006574  0.000984  0.005362 -0.004491
2021-02-10 -0.004558  0.001147 -0.003897  0.005697
2021-02-11 -0.001920 -0.010880  0.006878  0.000243
2021-02-12  0.001776 -0.000910  0.002045  0.003922

[1259 rows x 4 columns]

In [53]:
#Get last five records
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2021-02-08  0.001097  0.014944  0.001115 -0.002426
2021-02-09 -0.006574  0.000984  0.005362 -0.004491
2021-02-10 -0.004558  0.001147 -0.003897  0.005697
2021-02-11 -0.001920 -0.010880  0.006878  0.000243
2021-02-12  0.001776 -0.000910  0.002045  0.003922

In [54]:
#Get Correlation between MSFT and IBM
returns['MSFT'].corr(returns['IBM'])

0.5410189133048722

In [55]:
#Get Coverence between MSFT and IBM
returns['MSFT'].cov(returns['IBM'])

0.0001539027691947998

In [56]:
#Get full Correlation or Coverencematrix as a DataFrame
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.454302  0.709192  0.650613
IBM   0.454302  1.000000  0.541019  0.507296
MSFT  0.709192  0.541019  1.000000  0.778057
GOOG  0.650613  0.507296  0.778057  1.000000

In [57]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000357  0.000141  0.000232  0.000205
IBM   0.000141  0.000269  0.000154  0.000139
MSFT  0.000232  0.000154  0.000300  0.000225
GOOG  0.000205  0.000139  0.000225  0.000278

In [58]:
#Get DF's corrwith(), we can compute pairwise correcletion b/w DF's columns or rows with other series or DF.
returns.corrwith(returns.IBM)

AAPL    0.454302
IBM     1.000000
MSFT    0.541019
GOOG    0.507296
dtype: float64